@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

.contact_Item{
  border:1px #ccc solid;
  margin-bottom: 5px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
